.panier{
    height: 100%;
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #1b1b1f;
    opacity: 0.9;
    border-radius: 10px;
    border: 2px solid #ffffff;

}


.panier h1{
    width: 100%;
    padding: 3% 5%;
    font-family: sans-serif;
    font-size: 250%;
    color: white;
}